body {
  background-color: #f9f9f9;
  font-family: "Helvetica Neue"
}

.scrollable {
  overflow: scroll;
  height: 500px;
  color: #50ABF1;
  background-color: white;
}

#autocomplete {
  width: 100%;
}

#map {
  width: 500px;
  height: 500px;
}
